# Ignore everything in the .vscode directory (setting folder)
.vscode/*
Project/.vscode/*

# Add other directories:
Project/build/*
build/*
Project/.idea/*
Project/cmake-build-debug-zephyr/*

# Ignore specfic files:
Zephyr.code-workspace
h7ConfigScriptOzone.jdebug.user

Project/h7ConfigScriptOzone.jdebug.user
.idea/workspace.xml
native_sim/.idea/workspace.xml
